<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kate.tti.game">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="kate.tti.game.ImageScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alasr.com"
                    android:pathPrefix="/hfer"
                    android:scheme="vjdja" />
            </intent-filter>
        </activity>
        <activity
            android:name="kate.tti.game.game.GameScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name="kate.tti.game.PrepareScreen"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />

    </application>
</manifest>
